@use './_colors';

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid colors.$primary;
  margin-bottom: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;

  .title {
    font-size: 2rem;
  }

  @media screen and (max-width: 700px) {


    .title {
      font-size: 1.7rem;
    }
  }
}